/*Header*/
#top-nav {
    display:none;
}

#mobile-nav { 
    display:block;
    clear:both;
    @include container;
    zoom:1;
    
    ul {
        position:absolute;
        z-index:199;
        background:#fff;
        border-bottom:1px solid #ccc;
        width: 83.05084%;
        padding-left: 0;
        margin: 0;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }

    a {
        text-decoration:none;
        display:block;
        padding: 5px;
        border:1px solid #ccc;
        border-width: 1px 1px 0 1px;
    }

    a:hover { background:#fff; }

    & > a:first-child {
        background:#fff;
        cursor: pointer;
    }

    li.active a {
        background:#fff;
        color:#663b29;
    }
} 

#search-container {
    width:100%;
    float:none;
    padding-top:10px
}

#site-title {
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:25px;

        h1 {
            font-size:1.75 * $base-font-size;
            line-height: 1.075 * $base-line-height;
            display:block;
            float:left;
        }

        h4 {
        font-size: 0.8 * $base-font-size;
        display:block;
        clear:both;
        }
    
}

#main > div, #portals > div {
    width:100% !important;
}

.overlay {
    opacity:0.75;
}

.overlay-text {
    //font-size:2em;
}



/* Home Page */





/* Items Browse */
.item-filter {
    display:none;
}

.items-list .item-img, .items-list .item-img:nth-child(6n), .items-list > .item, .items-list .item:nth-child(3n) {
    width:100%;
    clear:both;
    height:auto;
}

.items-list .item {
    margin-bottom: 10px;

    .item-description {
        clear:left;
    }
}

.mobile-secondary-nav { 
    display:block;
    clear:both;
    @include container;
    zoom:1;
    
    ul {
        position:absolute;
        z-index:199;
        width: 83.05084%;
        padding-left: 0;
        margin: 0;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }

    a {
        text-decoration:none;
        display:block;
        padding:5px;
        border:1px solid #fff;
        border-width: 1px 1px 0 1px;
        color: #fff;
    }

    & > a:first-child {
        background:#fafafa;
        cursor: pointer;
    }
}

.browse.standard .mobile-secondary-nav a {
    background: rgba(0,127,36,1);      
}

.browse.stories .mobile-secondary-nav a {
    background:rgba(6,81,128,1)  
}


/* Footer */
footer {
    padding: 20px;
}

