html {
    @include global-box-sizing(border-box);
}
* { box-sizing: inherit; }

body {
    font-family: Arial, sans-serif;
    color:#766a62;
    font-size: $base-font-size;
    line-height: $base-line-height;

    p {
        margin:0 0 10px;
    }
}

header, #content, footer {
    @include pie-clearfix;
    @include pad(1);
}

div, nav {
    @include pie-clearfix;
}

ul {
    margin:0;
}

nav ul{
    list-style: none;
    padding:0;
}

.clear {
    clear:both;
}

.right {
    float:right;
    margin-left:10px;
}

.left {
    float:left;
    margin-right:10px;
}

.ital {
    font-style: italic;
}

.hidden {
    display: none;
}

.large-4 {
    @include span (4);
}

.large-4.last {
    @include span (last 4);
}

 h1,  h2,  h3,  h4,  h5,  h6  {
    font-family:'Lato', sans-serif;
    font-weight:normal;
    margin:0 0 .25em;
}

h2, h3, h4, h5, h6 {
    color:#007f24;
}

h2 {
    font-size: $base-font-size * 2.3125;
    line-height: $base-font-size * 2.3125;
}

h3 {
    font-size: $base-font-size * 1.6875;
    line-height: $base-font-size * 1.6875;
}

h5 {
    font-size: $base-font-size;
    line-height: $base-font-size;
}

a {
    text-decoration: none;
}

#top-nav {
    @include span (8);
}

#mobile-nav, .mobile-secondary-nav {
    display:none;
}

#search-container {
    @include span (last 4);
}

#site-title {
    @include span (12);
}

#site-title, #site-title a, h1 a, h1 a:hover, h4 a, h4 a:hover {
    color:#663b29;
}

#site-title {
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:25px;

        h1 {
            font-size:4 * $base-font-size;
            line-height: 2.15 * $base-line-height;
        }

        h4 {
        font-size: 1.4375 * $base-font-size;
        }
    
}

.exhibits #site-title {
    border-bottom:5px solid #cc0000;
} 

.standard #site-title, .items.show #site-title {
    border-bottom:5px solid #007f24;
}

.collections-page {
    border-bottom:5px solid #007f24;
}

.map #site-title {
    border-bottom:5px solid #fcc32b;
}

.stories #site-title {
    border-bottom:5px solid #065180;   
}

.search #site-title, #about #site-title {
    border-bottom:5px solid #663b29;   
}


a {
    color:#065180;
}

a:hover {
    color:#4799CC;
}

.accordion dd > a {
    background:rgba(0,127,36,.75);
    color:#fff;
}

.accordion dd > a:hover {
    background:rgba(0,127,36,1);
    color:#fff;
}

.accordion dd.active > a {
    background:rgba(0,127,36,1);
    color:#fff;
}

.row {
    max-width: 1200px;
}

header {
    padding-top:10px;
    padding-bottom:10px;
    /* Background pattern from subtlepatterns.com */
    background: url(../images/gradient.png) bottom repeat-x, url(../images/sos.png);
}

#site-title h1, #site-title h4 {
    display: inline;
}

#site-title h4 {
    font-style: italic;
}

.top-bar {
    background:none;
}

#top-nav {
    margin-top:-10px;
}

#top-nav ul {
    list-style-type: none;
    margin: 0 auto 1.0625rem auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
}

#top-nav ul li {
    list-style: none;
    float: left;
    display: block;
    padding-left: 1rem;
    border-right:1px solid #663b29;
    width:100px;
    padding-top:5px;
}

#top-nav > ul > li > * {
    display:block;
}

#top-nav ul {

    li a {
        background: url(../images/liberia-icons/icon-sprite.png) top left no-repeat;
        padding:60px 10px 0 0;
    }

    li.map:hover, li.map.active {
        display:block;
        border-top:5px solid #fcc32b;
        padding-top: 0px;
    }

    li.exhibits a {
        background-position:0 -120px ;
    }

    li.exhibits:hover, li.exhibits.active {
        border-top:5px solid #cc0000;
        padding-top: 0px;
    }

    li.collections a {
        background-position:0 -240px ;
    }

    li.collections:hover {
        border-top:5px solid #007f24;
        padding-top:0px;
    }

    li.stories a {
        background-position:0 -367px ;
    }

    li.stories:hover, li.stories.active {
        border-top:5px solid #065180;
        padding-top:0px;
    }

    li.share a {
        background-position:0 -503px ;
    }

    li.share:hover, li.share.active {
        border-top:5px solid #000000;
        padding-top:0px;
    }

    li.about a {
        background-position:0 -630px ;
    }

    li.about:hover, li.about.active {
        border-top:5px solid #663b29;
        padding-top:0px;
    }

}

body.standard #top-nav ul li.collections:hover,body.standard #top-nav ul li.collections.active {
        border-top:5px solid #007f24;
        padding-top:0px;
    }

#search-container {
    padding-top: 40px;

    input {
        width:100%;
    }

    button {
    display:none;
    }
}


#content {
    clear:both;
    margin-top:10px;   
    overflow:hidden;
}

#content ul {
    margin-bottom:10px;
}

#main {
    clear:both;
}


/*Home Page*/

#home #about {
    @include span (4);
}

#home-map {
    @include span (last 8);

    img {
        width:100%;
    }
}

#portals {
    clear:both;
    @include span (12);
}

.portal-wrap {
    padding:6%;
    background-color:#ededed;

}
#home-map, .map-show {
    border-top:5px solid #fcc32b;
    margin-top:8px;
}

.portal {
    width:100%;
    height:100%;
    background-size:cover;
    overflow:hidden;
    margin:0;
}

.overlay {  
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:140px 0;
    opacity:0.5;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.portal:hover .overlay {
    opacity:1;
}

.overlay-text {
    font-variant: small-caps;
    font-size:4rem;
    font-size:4vw;
    color:#ededed;
}

#exhibits-portal {
    background-image: url(../images/blanket.jpg);
}

#exhibits-portal-wrap {
    border-top:5px solid #cc0000;
    margin-top:8px;
}

#collections-portal {
    background-image: url(../images/collections_collage.png);
}

#collections-portal-wrap {
    border-top:5px solid #007f24;
    margin-top:8px;
}

#stories-portal-wrap {
    border-top:5px solid #000000;
    margin-top:8px;
}

#stories-portal {
    background-image:url(../images/web.jpg);
}
/*.portal {
    border-top:5px solid #fcc32b;
    padding:20px;
    background-color:#ededed;    
}*/

/* Items Browse */

.items-list {
    clear:both;
    padding-top:20px;

    ul {
        list-style:none;
    }
}

.page-info {
    @include span (5);
}

.stories .page-info {
    @include span (7);
}

.standard .items-nav.secondary-nav {
    @include span(last 7);
    
    ul {
        float:right;
    }

    li {
        float:left;

        a {
            display:block;
            text-align: center;
            padding:1rem 1.4rem;
            background: rgba(0,127,36,.75);
            color: #fff;
        }

        a:hover, a.current {
            background: rgba(0,127,36,1);
        }
    }
}

#sort-links {
    float:right;
    display: block;
    margin-left:3em;

    .sort-label {
        display: inline-block;
    }

    #sort-links-list {
          display: inline-block;
          margin-left: 3px;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

        li {
          padding-left: 10px;
          display: inline-block;
        }

        li:first-child {
            padding-left:0;
        }

    }

    .desc a:after, .asc a:after {
      font-family: "FontAwesome";
      display: inline-block;
      height: 0;
      width: 0;
      margin-right: 10px;
    }

    .desc a:after {
      content: "\00a0\f0d8";
    }

    .asc a:after {
      content: "\00a0\f0d7";
    }
}

.item-themes {
    @include span(last 2);
    @include push (1);

    form, select {
        max-width: 100%;
    }

    select {
        text-align: center;
        display:block;
        // color:#fff;
        // background:rgba(6,81,128,.75);
        // padding:.75rem 1rem;
    }
}

.photos .items-list ul {
    padding:0;
}

.photos .item-img {
    @include span (2);
    &:nth-child(6n) {
        @include span(last 2);
    }

    img {
        width:100%;
    }
}

.films .item-img {
    @include span (3);
    &:nth-child(4n) {
        @include span(last 3);
    }

    img {
        width:100%;
    }
}

// .documents .item, .stories .item {
//     @include span (4);
//     &:nth-child(3n) {
//         @include span(last 4);
//     }
// }

#outputs {
    clear:both;
    margin-top:10px;
    padding-top:10px;
    border-top: 1px solid #ededed;
}

.documents .item, .stories .item, .search .item {
    border:2px solid #f1f1f2;
    margin-bottom:1rem;
    padding:10px;
    background:#FCFCFD;

    h5 {
        margin-bottom:0.5rem;
    }

    .item-thumb {
        display: block;
        float: left;
        margin-right:10px;
    }
}

.items.browse.all .hentry {
    float:left;
    clear:both;
    width:100%;
    border-bottom: 1px solid #ededed;
    margin-bottom:10px;
    padding-bottom:10px;

    .item-img {
        float:left;
        margin-right:10px;
    }
}

/* Items Show */
.element {
    margin-bottom:1.25rem;
}

.element-text {
    font-style:italic;
}

.items.show #primary {
    @include span(8);
}

.items.show #secondary {
    @include span(last 4);
    padding-left:10px;
}

.item-files {
    margin-top:2rem;
}

#secondary-metadata {
    display:none;
}

.more-info {
    display:block;
    width:100%;
    text-align:left;
    background:rgba(0,127,36,1);
    color:#fff;
    padding:1rem;
    border:none;
    margin-bottom:1rem;
}

.more-info:hover {
    color:#fff;border-top: 1px solid #ededed;
}

#itemfiles {
    margin-top: 2rem;

    .item-file {
        padding:20px;
        background:#ededed;
        margin-bottom:10px;
;
        img {
            max-width: 100%;
        }
    }
}

.item-pagination, .pagination {
    clear:both;
    border-top: 1px solid #ededed;
    padding-top:10px;

    #previous-item, .pagination_previous {
        float:left;
    }
    #next-item, .pagination_next {
        float:right;
    }

    .page-input {
        display:none;
    }
}

.customHtml {
    padding-top:10px;
    
    h3, a {
        color:#fff;
    }
}

/* Items Show */
.show h3 {
    font-variant: small-caps;
}


.show #secondary ul {
    list-style: none;
    padding-left:0;
}

.locations {
    border-top:5px solid #fcc32b;
    padding-top:5px;
}

.themes {
    margin-top:20px;
    border-top:5px solid #065180;
    padding-top:5px;
}

.item-entry {
    padding:0 -10px;
}

.item-entry.last {
    margin-right:0;
}

.item-entry-text {
    border-bottom:2px solid #f1f1f2;
    border-left:2px solid #f1f1f2;
    border-right:2px solid #f1f1f2;
    padding:0 0.625rem 1.25rem;
    display:block;
}

.item-entry h5 {
    margin-top:0;
    padding-top:5px;
}

.item-entry p {
    margin:0;
}

/* Search */

.search {
    #main {
        #search-filters {
            display:none
        }
    }
}


/* Exhibits */


.item-entry { 
    margin:0 1em 1em 0;
}

div.exhibit {
    @include span (4);
    &:nth-child(3n) {
        @include span(last 4)
    }
    margin-bottom:20px;

    .exhibit-image {
        width:100%;
        min-height: 300px;
        background-size:cover;
        overflow:hidden;

        a {
            display: block;
            height:300px;
            width:100%;
        }
    }

    .exhibit-text {
        border-bottom:2px solid #f1f1f2;
        border-left:2px solid #f1f1f2;
        border-right:2px solid #f1f1f2;
        padding:0 0.625rem 1.25rem;
        display:block;

        h2  {
            font-size: $base-font-size * 1.125;
            padding-top: 5px;
        }

    }
}

.exhibit-page .small-block-grid-3 > li {
    width:32%;
    padding:0;
}

.collections-page .tabs-content {
    clear:both;
    margin-top: 1rem;
}

div#panel3 > div > div {
    border:2px solid #f1f1f2;
}

.tabs dd.active > a {
    background:rgba(0,127,36,1);
}

.tabs dd > a{
    background:rgba(0,127,36,.75);
    color:#fff;
}

.tabs dd > a:hover{
    background:rgba(0,127,36,1);
}

.stories-page #filter .button {
    background:rgba(6,81,128,.75);
}
.stories-page #filter .button:hover {
    background:rgba(6,81,128,1);
}

.stories-page div.items > div > div{
    border:2px solid #f1f1f2;
}

.clearing-thumbs li, [data-clearing] li {
    margin-right:0;
    background:#ededed;
    padding:20px;
}

/* Map Page */
#geolocation-browse {
    @include span (9);

    #map_browse {
        width:100%;
    }
}

#map-help {
    @include span (last 3);
}


/* Simple Pages */
.simple-page #primary {
    @include span (9);
}

.simple-page #secondary {
    @include span (last 3);
}



/* Footer */

footer {
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f2;
    box-shadow: 0px 500px 0px 500px #f1f1f2;
}

footer ul {float:right;}

footer ul li {display: inline-block;float:left;margin-right:20px;}

