/*General*/
.arrow {
    float:right;
}

.contribution form {
    width: 90%;
}

fieldset, textarea, option, div#contribution-type-form div.inputs, div#contribution-type-form input  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width:100%;
    
}

/*Header*/
#top-nav {
    display:none;
}

#mobile-nav { 
    display:block;
    clear:both;
    @include container;
    zoom:1;
    
    ul {
        position:absolute;
        z-index:199;
        background:#fff;
        border-bottom:1px solid #ccc;
        width: 83.05084%;
        padding-left: 0;
        margin: 0;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }

    a {
        text-decoration:none;
        display:block;
        padding: 5px;
        border:1px solid #ccc;
        border-width: 1px 1px 0 1px;
    }

    a:hover { background:#fff; }

    & > a:first-child {
        background:#fff;
        cursor: pointer;
    }

    li.active a {
        background:#fff;
        color:#663b29;
    }
} 

#search-container {
    width:100%;
    float:none;
    padding-top:10px
}

#site-title {
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:25px;

        h1 {
            font-size:1.75 * $base-font-size;
            line-height: 1.075 * $base-line-height;
            display:block;
            float:left;
        }

        h4 {
        font-size: 0.8 * $base-font-size;
        display:block;
        clear:both;
        }
    
}

#main > div, #portals > div {
    width:100% !important;
}

.overlay {
    opacity:0.75;
}

.overlay-text {
    //font-size:2em;
}



/* Home Page */





/* Items Browse */
.page-info h3 {
    display: inline;
}

nav.items-nav.secondary-nav {
    display:none;
}

.items-list .item-img, .items-list .item-img img, .items-list .item-img:nth-child(6n), .items-list > .item, .items-list .item:nth-child(3n), .films .item-img:nth-child(4n), .item-themes, .item-themes select, #sort-links {
    width:100%;
    clear:both;
    height:auto;
}

.items-list .item {
    margin-bottom: 10px;

    .item-description {
        clear:left;
    }
}

.documents .item, .stories .item, .search .item, .browse.all .item {
    .item-img {
        width:100%;

            img {
                width:100%;
            }
    }
}

.mobile-secondary-nav { 
    display:block;
    clear:both;
    @include container;
    // zoom:1;
    
    ul {
        // position:absolute;
        // z-index:199;
        // width: 83.05084%;
        width:100%;
        padding-left: 0;
        margin: 0;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }

    a {
        text-decoration:none;
        display:block;
        padding:5px;
        border:1px solid #fff;
        border-width: 1px 1px 0 1px;
        color: #fff;
    }

    & > a:first-child {
        background:#fafafa;
        cursor: pointer;
    }
}

.browse.standard .mobile-secondary-nav a {
    background: rgba(0,127,36,.75);      
}

.browse.standard .mobile-secondary-nav a.current {
    background: rgba(0,127,36,1);      
}

.browse.stories .mobile-secondary-nav a {
    background:rgba(6,81,128,1)  
}

/* Exhibits */
#exhibit-pages {
    display:none;
}

#mobile-exhibit-pages { 
    display:block;
    clear:both;
    @include container;
    zoom:1;
    margin-bottom: 10px;
    
    ul {
        position:absolute;
        z-index:199;
        background:#fff;
        width: 83.05084%;
        padding-left: 0;
        margin: 0;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }

    a {
        text-decoration:none;
        display:block;
        padding: 5px;
        border:1px solid #ccc;
        border-width: 1px 1px 0 1px;
    }

    a:hover { background:#fff; }

    & > a:first-child {
        background:#cc0000;
        color:#fff;
        cursor: pointer;
    }

    li.current a {
        background:#fff;
        color:#4799CC;
    }
    
    li ul {
        position: relative;
        width: 100%
    }

    li ul a:before {
        content: "-- ";
    }

    li ul ul a:before {
        content: "---- ";
    }
}


/* Footer */
footer {
    padding: 20px;
}

